<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/fontawesome.min.css">
    <link rel="stylesheet" href="/style.css">

    <title>CMS</title>
</head>

<body>
    <div class="container">
        <div class="navigation" style="background-color: #aa0407;">
            <ul>
                <li>
                    <a href="/home">
                        <span class="icon"><i class="fa fa-apple"></i></span>
                        <span class="title"><h2>Logo</h2></span>
                    </a>
                </li>
                <li>
                    <a href="/home">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/user_page">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="title User_page">Users</span>
                    </a>
                </li>
                <li>
                    <a href="/request_page">
                        <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="title">Requests</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/newRequest_page">
                        <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        <span class="title">New Requests</span>
                    </a>
                </li> -->
                <li>
                    <a href="/certificates_page">
                        <span class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></span>
                        <span class="title">Certificates</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title logOut">sign out</span>
                    </a>
                </li>
            </ul>
        </div>



        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <!-- <div class="search">
                  <label for="">
                    <input type="text" placeholder="search here" />
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </label>
                </div> -->
                <div
                  class="user"
                  style="
                    width: 200px;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                  "
                >
                  <!-- <div style="width: 200px" id="datetime"></div> -->
                  <div class="user-image" style="width: 12px; height: 12px">
                    <img
                      src="/user.png"
                      style="
                        width: 50%;
                        height: 50%;
                        object-fit: contain;
                        margin-top: 15px;
                      "
                    />
                  </div>
                  <div
                    class="user-login-details"
                    style="
                      display: flex;
                      flex-direction: column;
                      margin-right: 60px;
                      font-size: small;
                    "
                  >
                    <div>
                      <span class="user"></span>
                    </div>
                    <div>
                      <span>Email</span>
                    </div>
                  </div>
                </div>
              </div>

          

            <div class="cardBox">
                <div class="card" id="allCerts" style="display: flex; flex-direction: row; justify-content: space-around; ">
                    <div>
                        <div style="width: 4px; margin-top: 4px; height: 64px; background-color: red; border-radius: 4px;">

                        </div>
                    </div>
                    <div style="margin-left: -32px ;">
                        <div id="totalcount" class="numbers">0</div>
                        <div class="cardName">Total</div>
                    </div>
                    <div class="iconBox">
                        <!-- some icon here -->
                        <img src="/total.png" style="width: 10px; height: 10px;"/>
                    </div>
                </div>
                
                <div class="card" id="activeCerts" style="display: flex; flex-direction: row; justify-content: space-around; " >
                    <div>
                        <div style="width: 4px; margin-top: 4px; height: 64px; background-color: red; border-radius: 4px;">

                        </div>
                    </div>
                    <div style="margin-left: -32px ;">
                        <div id="activecount" class="numbers">0</div>
                        <div class="cardName">Active</div>
                    </div>
                    <div class="iconBox">
                      <i class="fa-solid fa-ellipsis" style="color: #dec9c0;"></i>
                        
                    </div>
                </div>

                
                <div class="card" id="inprogressCerts" style="display: flex; flex-direction: row; justify-content: space-around; ">
                    <div>
                        <div style="width: 4px; margin-top: 4px; height: 64px; background-color: red; border-radius: 4px;">

                        </div>
                    </div>
                    <div style="margin-left: -32px ;">
                        <div id="inprogresscount" class="numbers">0</div>
                        <div class="cardName">In Progress</div>
                    </div>
                    <div class="iconBox">
                      <i class="fa-solid fa-spinner" style="color: #dec9c0;"></i>
                    </div>
                </div>
                
                <div class="card" id="expiredCerts" style="display: flex; flex-direction: row; justify-content: space-around; ">
                    <div>
                        <div style="width: 4px; margin-top: 4px; height: 64px; background-color: red; border-radius: 4px;">

                        </div>
                    </div>
                    <div style="margin-left: -32px ;">
                        <div id="expiredcount" class="numbers">0</div>
                        <div class="cardName">Expired</div>
                    </div>
                    <div class="iconBox">
                      <i class="fa-solid fa-check"></i>
                    </div>
                </div>
            </div>

            <!-- <div style="background-color: white; width: 700px; margin-left: 20px; padding: 50px;">
                <div style="padding-top: 4px; padding-bottom: 20px;">Requests Analytics</div>
                <canvas id="myChart" style="width:100%;max-width:700px;  "></canvas>
            </div> -->
            <div class="sub" style="margin-bottom: -52px; margin-top: 30px;">

                <div class = "desc">
                    <h2 id="certificateType">All certificates </h2>
                </div>
                <!-- <hr> -->
            </div>

           

            <div class="details">
                <div class="certificates">
                    <table>
                        <thead style="height: 6px">
                        <tr
                          style="
                            background-color: rgba(218, 221, 221, 0.757);
                            padding-top: 2px;
                            height: 15px;
                          "
                        >
                          <!-- <td style="visibility: hidden;">itemID</td> -->
                          <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Project title
                          </th>
                          <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Domain name
                          </th>
                          <!-- <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Server Hostname
                          </th>
                          <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Server Address
                          </th> -->
                          <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Status
                          </th>
                          <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Date Requested
                          </th>
                          <!-- <th
                            style="
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                            "
                          >
                            Actions
                          </th> -->
                        </tr>
                        </thead>
                        <tbody> 
                      
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </div>
    <script src="JS/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        
        const label =["january","febuary","march","april","may","june","july","august","september","october","november","december"];
        const xValues = [50,60,70,80,90,100,110,120,130,140,150];
const yValues = [7,8,8,9,9,9,10,11,14,14,15,20];

new Chart("myChart", {
  type: "line",
  data: {
    labels: label,
    datasets: [{
    //   backgroundColor:"rgba(0,0,255,1.0)",
    pointRadius:4,
    pointBackgroundColor: "red",
      borderColor: "red",
      data: yValues
    }]
  },
  options:{
    legend : {display :false}
  }
});

        // loading tables

        const expiredCertsQuery="certs/expiredCerts";
        const InprogressCertsQuery="certs/progressCerts";
        const activeCertsQuery="certs/activeCerts";
        const AllCertsQuery="certs/allCerts";
        const expiredCertsCount="certs/expiredCertsCount";
        const InprogressCertsCount="certs/inprogressCertsCount";
        const TotalCertsCount="certs/totalCertsCount";
        const activeCertsCount = "certs/activeCertsCount";

      document.addEventListener("DOMContentLoaded", async function () {

        const expiredCertsButton = document.getElementById("expiredCerts");
  const inprogressCertsButton = document.getElementById("inprogressCerts");
  const activeCertsButton = document.getElementById("activeCerts");
  const allCertsButton = document.getElementById("allCerts");
  const resultDiv = document.getElementById("result");
  const certificateType= document.getElementById("certificateType");
  const expiredcount=document.getElementById("expiredcount");
  const inprogresscount= document.getElementById("inprogresscount");
  const activecount= document.getElementById("activecount");
  const totalcount=document.getElementById("totalcount");
  const count=TotalCertsCount;
  let updatedCount;

  const fetchTotalCertificatesCount = async (count) => {
    try {
        const res = await fetch(count);
        const data = await res.json();

        if (typeof data === "object") {
          console.log(data);
            // Check if the data contains a count property
            if ("Count" in data) {
               totalcount.innerHTML=data.Count;
             
                // Data contains a count, display it
                console.log("Total Count: " + data.Count);
                console.log(data);
                
               
            } else {
              
            }
        } else {
            // Data is not in the expected format, handle the error or log a message
            console.error("Data is not in the expected format:", data);
        }
    } catch (error) {
        console.error("Error:", error);
    }
};


fetchTotalCertificatesCount(count);

const fetchexpiredCertificatesCount = async (expiredCertsCount) => {
    try {
        const res = await fetch(expiredCertsCount);
        const data = await res.json();

        if (typeof data === "object") {
          console.log(data);
            // Check if the data contains a count property
            if ("Count" in data) {
               expiredcount.innerHTML=data.Count;
             
                // Data contains a count, display it
                console.log("Total Count: " + data.Count);
                console.log(data);
                
               
            } else {
              
            }
        } else {
            // Data is not in the expected format, handle the error or log a message
            console.error("Data is not in the expected format:", data);
        }
    } catch (error) {
        console.error("Error:", error);
    }
};


fetchexpiredCertificatesCount(expiredCertsCount);


const fetchactiveCertificatesCount = async (activeCertsCount) => {
    try {
        const res = await fetch(activeCertsCount);
        const data = await res.json();

        if (typeof data === "object") {
          console.log(data);
            // Check if the data contains a count property
            if ("Count" in data) {
               activecount.innerHTML=data.Count;
             
                // Data contains a count, display it
                console.log("Total Count: " + data.Count);
                console.log(data);
                
               
            } else {
              
            }
        } else {
            // Data is not in the expected format, handle the error or log a message
            console.error("Data is not in the expected format:", data);
        }
    } catch (error) {
        console.error("Error:", error);
    }
};


fetchactiveCertificatesCount(activeCertsCount);


const fetchInprogressCertificatesCount = async (InprogressCertsCount) => {
    try {
        const res = await fetch(InprogressCertsCount);
        const data = await res.json();

        if (typeof data === "object") {
          console.log(data);
            // Check if the data contains a count property
            if ("Count" in data) {
               inprogresscount.innerHTML=data.Count;
             
                // Data contains a count, display it
                console.log("Total Count: " + data.Count);
                console.log(data);
                
               
            } else {
              
            }
        } else {
            // Data is not in the expected format, handle the error or log a message
            console.error("Data is not in the expected format:", data);
        }
    } catch (error) {
        console.error("Error:", error);
    }
};


fetchInprogressCertificatesCount(InprogressCertsCount);


  const fetchCertificates = async (url) => {
        try {
          const res = await fetch(url);
          const data = await res.json();
          console.log(data);

          console.log(typeof data);

          if (typeof data === "object") {
            // Data is an array, proceed to populate the table
            const dataArray = Object.values(data);
            loadHTMLTable(dataArray);
          } else {
            // Data is not in the expected format, handle the error or log a message
            console.error("Data is not in the expected format:", data);
          }
        } catch (error) {
          console.log(error);
        }
      }

      fetchCertificates("certs/allCerts");

      expiredCertsButton.addEventListener("click", () => {
    fetchCertificates("certs/expiredCerts");
    fetchCertificatesCount(expiredCertsCount);
    expiredcount.innerHTML=updatedCount;
    certificateType.innerHTML="Expired Certificates";

  });

  inprogressCertsButton.addEventListener("click", () => {
    fetchCertificates("certs/progressCerts");
    fetchCertificatesCount(InprogressCertsCount);
    inprogresscount.innerHTML=updatedCount;
    certificateType.innerHTML="Certificates in Progress";
  });

  activeCertsButton.addEventListener("click", () => {
    fetchCertificates("certs/activeCerts");
    fetchCertificatesCount(activeCertsCount);
    activecount.innerHTML=updatedCount;
    certificateType.innerHTML="Active Certificates";
  });

  allCertsButton.addEventListener("click", () => {
    fetchCertificates("certs/allCerts");
    fetchCertificatesCount(TotalCertsCount);
    totalcount.innerHTML=updatedCount;
    certificateType.innerHTML="All certificates";
  });

      });
    

      function loadHTMLTable(data) {
        console.log("running");
        const table = document.querySelector("table tbody");
        let tableHTML = " ";
        let certificatesDisplayed = 0;

        if (data.length === 0) {
          table.innerHTML = "tr><td colspan='5'>No user registered</td></tr>";
        }
        data.forEach(function (certificate) {
          console.log(certificate);

          // console.log(
          //   user[0].username,
          //   user.userEmail,
          //   user.team,
          //   user.lineManager,
          //   user.role
          // );
          for (let i =certificate.length - 1; i >=0  && certificatesDisplayed < 5 ; i--) {
            const certificateData = certificate[i];
            if (
              certificateData.userEmail !== undefined &&
              certificateData.projectTitle !== undefined &&
              certificateData.domainName !== undefined &&
              // certificateData.requestType !== undefined &&
              certificateData.serverAddress !== undefined &&
              certificateData.status !== undefined &&
              certificateData.dateRequested !== undefined
            ) {
              // Sample date string
const dateString = certificateData.dateRequested; // Replace with your actual data

// Create a Date object from the date string
const date = new Date(dateString);

// Get the date components
const year = date.getFullYear();
const month = (date.getMonth() + 1).toString().padStart(2, "0"); // Month is zero-based, so add 1
const day = date.getDate().toString().padStart(2, "0");

// Format the date as "YYYY-MM-DD"
const formattedDate = `${year}-${month}-${day}`;

console.log(formattedDate); // Output: "2023-10-10"

              tableHTML += "<tr>";
              tableHTML += `<td style="
                      border-bottom: 1px solid rgb(168, 168, 169);
                      text-align: left;
                      padding: 8px;
                    ">${certificateData.projectTitle}</td>`;
              tableHTML += `<td style="
                      border-bottom: 1px solid rgb(168, 168, 169);
                      text-align: left;
                      padding: 8px;
                    ">${certificateData.domainName}</td>`;
              // tableHTML += `<td style="
              //         border-bottom: 1px solid rgb(168, 168, 169);
              //         text-align: left;
              //         padding: 8px;
              //       ">${certificateData.serverHostname}</td>`;
              // tableHTML += `<td style="
              //         border-bottom: 1px solid rgb(168, 168, 169);
              //         text-align: left;
              //         padding: 8px;
              //       ">${certificateData.serverAddress}</td>`;
              tableHTML += `<td style="
                      border-bottom: 1px solid rgb(168, 168, 169);
                      text-align: left;
                      padding: 8px;
                    ">${certificateData.status}</td>`;
                    tableHTML += `<td style="
                      border-bottom: 1px solid rgb(168, 168, 169);
                      text-align: left;
                      padding: 8px;
                    ">${formattedDate}</td>`;
              tableHTML += "</tr>";
              certificatesDisplayed++;
              
            }
          }
          table.innerHTML = tableHTML;
        });
      }

        
    </script>
</body>
</html>